@model ModelClasses.ViewModel.RegisterViewModel

@if (Model.StatusMessage != null)
{
    <div class="alert alert-danger alert-dismissible role="alert">
        <button type="button" class="btn-close text-dark" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.StatusMessage
    </div>
}
<div class="d-flex justify-content-center vh-100 align-items-center "
     style="background-image: url('/Images/bgl4.jpg'); background-size: cover; background-repeat: no-repeat;
            background-attachment:fixed; background-position: center;">
     <div class="row p-5">
         <h3 class="text-dark fw-bold text-center"><strong>Registration Form</strong></h3>
        <div class="bg-light col-12 border-2 border-success" style="border:solid">
             <form asp-action="Register" asp-controller="Account" method="post">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="row p-2">
                     <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="ApplicationUser.FirstName"></label></strong>
                     </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="ApplicationUser.FirstName" class="form-control" />
                        <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="ApplicationUser.LastName"></label></strong>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="ApplicationUser.LastName" class="form-control" />
                        <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="UserName"></label></strong>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="Email"></label></strong>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="ApplicationUser.Address"></label></strong>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="ApplicationUser.Address" class="form-control" />
                        <span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="ApplicationUser.State"></label></strong>
                    </div> 
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="ApplicationUser.State" class="form-control" />
                        <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="Password">Password</label></strong>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="Password" class="form-control" placeholder="ex-12PD# not more than 8"  />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <strong><label asp-for="ConfirmPassword">Confirm Password</label></strong>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Use the same password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="p-2">
                    <button type="submit" class="btn btn-light btn-outline-danger form-control">Register</button>
                </div>
             </form>
         </div>
     </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}