<div class=" d-flex justify-content-center vh-100 align-items-center" style="
        background-size: cover; background-repeat: no-repeat; background-attachment:fixed; background-position:bottom;">

    <div class="row">
        <div class="col-12">
            <h1 class="text-warning text-center fw-bold">
                Order number # <strong class="text-warning bg-danger">@ViewBag.OrderId</strong>
                <a asp-action="Index" asp-controller="Home" class="text-black">Keep Shopping</a>
            </h1>
        </div>
        <div class="col-12 text-center">
            <img src="/Images/order_success_placed.gif" class="rounded-2 img-fluid" style="opacity:0.7;" />
        </div>
    </div>

</div>